div.institute-display-timeline {
	display: inline-block;
	width : 140px;
	height: 166px;
	background-size: 100% 100%;
	background-color : rgba($primary_color, 0.8);
	margin : 10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	animation: fadeIn 1s linear both;
	opacity: 0;

	div.institute-bottom-info {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding: 0px 5px;
		box-sizing: border-box;
		bottom: 0px;
		transition: 0.3s;
		background-color: rgba($primary_color, 0.5);
		color: rgba(white, 0.8);

		span.institutename {
			line-height: 30px;
			padding-left: 10px;
			font-size: 12px;
		}
	}

	&:hover div.institute-bottom-info {
		background-color: rgba($primary_color, 0.8);
		color: rgba(white, 1);
	}

}