/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-11-08 01:16:12
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-10 02:18:03
**************************************************************/

div.view.institute {

	div.actions {
		float : right;
		right: 20px;
	}

	div.institute.miniature {
		display: block;
		margin: 20px auto;
		width: 160px;
		height: 160px;
		border: 2px solid $primary_color;
	}

	div.explain {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100%;
		padding-bottom: 20px;

		div.name {
			display: block;
			vertical-align: top;
			color: $primary_color;
			font-size: 64px;
			font-weight: 200;
		}

		p.description {
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color : darken($white_color, 35);
			width: 80%;
		}
	}
}